{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}

{% block content %}
    {% if general_parameter.latest_news %}
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h5><em class="icon fas fa-info"></em>{% translate "Latest News!" %}</h5> {{ general_parameter.latest_news|safe }}
        </div>
    {% endif %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body login-card-body">
                    <p class="login-box-msg">{% translate "Sign in to start using the rooms" %}</p>

                    {% crispy form %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
