{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block scripts %}
    <script>
        function validateForm() {
            const documentInput = document.getElementById("document-input");
            const documentInputLabel = document.getElementById("document-input-label");
            const documentForm = document.getElementById("document-form");
            const documentFormSubmit = document.getElementById("document-form-submit");

            const fileName = documentInput.value.replace(/^.*[\/\\]/, "");

            if (fileName.endsWith(".json")) {
                documentForm.action = "{% url "import_upload_json" %}";
                documentInputLabel.innerText = fileName;
                documentFormSubmit.disabled = false;
                documentFormSubmit.innerText = "{% translate "Upload JSON" %}";
            } else if (fileName.endsWith(".csv")) {
                documentForm.action = "{% url "import_upload_csv" %}";
                documentInputLabel.innerText = fileName;
                documentFormSubmit.disabled = false;
                documentFormSubmit.innerText = "{% translate "Upload CSV" %}";
            } else {
                documentForm.action = "{% url "import_export" %}";
                documentInputLabel.innerText = "{% translate "Choose file" %}";
                documentFormSubmit.disabled = true;
                documentFormSubmit.innerText = "{% translate "Upload JSON/CSV" %}";
            }
        }

        window.addEventListener("load", validateForm);
    </script>
{% endblock %}

{% block content %}
    {% if uniqueness_violations %}
        <div class="row mt-2">
            <div class="col-md">
                <div class="card card-danger">
                    <div class="card-header">
                        <h5 class="card-title">{% translate "Duplicate names detected" %}</h5>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for violation in uniqueness_violations %}
                            <li class="list-group-item">{{ violation }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" id="import-tab" data-toggle="tab" href="#import" role="tab"
                       aria-controls="import" aria-selected="true">{% translate "Import" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="export-tab" data-toggle="tab" href="#export" role="tab"
                       aria-controls="export" aria-selected="false">{% translate "Export" %}</a>
                </li>
            </ul>
        </div>
        <div class="tab-content text-left">
            <div class="tab-pane fade show active" id="import" role="tabpanel" aria-labelledby="import-tab">
                <div class="card-body">
                    <form id="document-form" method="post" enctype="multipart/form-data"
                          action="{% url "import_export" %}">
                        {% csrf_token %}
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" name="document" id="document-input"
                                   accept=".json,.csv" required onchange="validateForm()">
                            <label class="custom-file-label" for="document-input"
                                   id="document-input-label"
                                   data-browse="{% translate "Browse" %}">{% translate "Choose file" %}</label>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary" type="submit" form="document-form" id="document-form-submit"
                            disabled>
                        {% translate "Upload JSON/CSV" %}
                    </button>
                </div>
            </div>
            <div class="tab-pane fade" id="export" role="tabpanel" aria-labelledby="export-tab">
                <div class="card-body">
                    <div class="row justify-content-between">
                        <a class="btn btn-primary col-md-4 my-1"
                           href="{% url "export_download_json" %}">{% translate "Download JSON" %}</a>
                        <a class="btn btn-primary col-md-4 my-1"
                           href="{% url "export_download_csv" %}">{% translate "Download CSV" %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
