{% extends "base.html" %}
{% load tenant_based_permission %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load theme %}

{% block styles %}
    {% theme "multi_select" "stylesheet" %}
{% endblock %}

{% block scripts %}
    {% has_tenant_based_perms "core.view_slides" as can_view_slides %}

    <script src="{% static "plugins/multi-select/js/jquery.multi-select.js" %}"></script>
    {% if Feature.Media.is_enabled and can_view_slides %}
        <script src="{% static "utilities/js/slides.js" %}"></script>
    {% endif %}
    <script>
        jQuery(function() {
            jQuery("#id_tenants").multiSelect();
        });
    </script>
    <script>
        window.addEventListener("load", function() {
            const directJoinSecretInput = document.getElementById("direct_join_secret");
            const directJoinSecretGenerateButton = document.getElementById("direct_join_secret_generate");

            directJoinSecretGenerateButton.addEventListener("click", function() {
                directJoinSecretInput.value = Array.from(
                    window.crypto.getRandomValues(new Uint32Array(4))
                ).map(value => value.toString(16)).join("");
            });

            {% if Feature.Media.is_enabled and can_view_slides %}
                initSlidesInput(document.getElementById("id_slides"), document.getElementById("id_initial_slides"));
            {% endif %}
        });
    </script>
{% endblock scripts %}

{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">{% translate "Configure Room" %}</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            {% crispy form %}
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
