{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block scripts %}
    <script src="{% static "utilities/js/pagination.js" %}"></script>
    <script>
        /**
         * @typedef {Object} Room
         * @property {string} updateUrl
         * @property {string} deleteUrl
         * @property {string} forceEndMeetingUrl
         * @property {string} roomResetStuckUrl
         * @property {string} createOrJoinUrl
         * @property {string} name
         * @property {string} state
         * @property {Array<string>} tenants
         * @property {string|null} schedulingStrategy
         * @property {string|null} configuration
         * @property {string} visibility
         * @property {string|null} lastRunning
         * @property {int} clicks
         * @property {string} comment
         * @property {string|null} secret
         */

        window.addEventListener("load", function() {
            /**
             * @type {string}
             */
            let searchFilter;
            /**
             * @type {string}
             */
            let schedulingStrategyFilter;
            /**
             * @type {string}
             */
            let configFilter;

            /**
             *
             * @param {URL} url
             * @param {number} page
             * @return {URL}
             */
            function setURLParameter(url, page) {
                url.searchParams.set("page", page.toFixed(0));
                url.searchParams.set("filter-search", searchFilter);
                url.searchParams.set("filter-strategy", schedulingStrategyFilter);
                url.searchParams.set("filter-config", configFilter);

                return url;
            }

            const paginator = new Paginator({
                getUrl(page) {
                    return setURLParameter(getUrl("{% url "api_fetch_rooms" %}"), page).toString();
                },
                renderHead() {
                    const row = document.createElement("tr");

                    row.append(this.createTableHead("{% translate "Name" %}"));

                    row.append(this.createTableHead("{% translate "State" %}"));

                    row.append(this.createTableHead("{% translate "Tenants" %}"));

                    row.append(this.createTableHead("{% translate "Scheduling Strategy" %}"));

                    row.append(this.createTableHead("{% translate "Config" %}"));

                    row.append(this.createTableHead("{% translate "Visibility" %}"));

                    row.append(this.createTableHead("{% translate "Last running" %}"));

                    row.append(this.createTableHead("{% translate "Clicks" %}"));

                    row.append(this.createTableHead("{% translate "Comment (internal)" %}"));

                    const action = this.createTableHead("{% translate "Action" %}");
                    action.classList.add("text-right");
                    row.append(action);

                    return row;
                },
                /**
                 * @param {Room} room
                 * @return {HTMLTableRowElement}
                 */
                renderEntry(room) {
                    const row = document.createElement("tr");

                    const name = document.createElement("td");
                    name.innerText = room.name;
                    row.append(name);

                    const state = document.createElement("td");
                    const stateBadge = document.createElement("span");
                    stateBadge.classList.add("badge");
                    switch (room.state) {
                        case "ACTIVE":
                            stateBadge.classList.add("bg-success");
                            stateBadge.innerText = "{% translate "Active" %}";
                            break;
                        case "CREATING":
                            stateBadge.classList.add("bg-warning");
                            stateBadge.innerText = "{% translate "Creating" %}";
                            break;
                        default:
                            stateBadge.classList.add("bg-secondary");
                            stateBadge.innerText = "{% translate "Inactive" %}";
                            break;
                    }
                    state.append(stateBadge);
                    row.append(state);

                    const tenants = document.createElement("td");
                    tenants.innerText = room.tenants.join(", ");
                    row.append(tenants);

                    const schedulingStrategy = document.createElement("td");
                    schedulingStrategy.innerText = room.schedulingStrategy ?? "-";
                    row.append(schedulingStrategy);

                    const config = document.createElement("td");
                    config.innerText = room.configuration ?? "-";
                    row.append(config);

                    const visibility = document.createElement("td");
                    visibility.classList.add("text-center");
                    row.append(visibility);

                    const visibilityPictogram = document.createElement("em");
                    visibilityPictogram.classList.add("fas");
                    switch (room.visibility) {
                        case "internal":
                            visibilityPictogram.classList.add("fa-lock");
                            break;
                        case "private":
                            visibilityPictogram.classList.add("fa-eye-slash");
                            break;
                        default:
                            visibilityPictogram.classList.add("fa-globe-europe");
                            break;
                    }
                    visibility.append(visibilityPictogram);

                    const lastRunning = document.createElement("td");
                    lastRunning.innerText = room.lastRunning ?? "-";
                    row.append(lastRunning);

                    const clicks = document.createElement("td");
                    clicks.innerText = room.clicks.toString();
                    row.append(clicks);

                    const comment = document.createElement("td");
                    comment.innerText = room.comment;
                    row.append(comment);

                    const actionColumn = document.createElement("td");
                    row.append(actionColumn);
                    const action = document.createElement("div");
                    actionColumn.append(action);
                    action.classList.add("btn-group", "btn-group-sm", "float-right");

                    const updateLink = document.createElement("a");
                    updateLink.classList.add("btn", "btn-success");
                    updateLink.href = room.updateUrl;
                    updateLink.title = "{% translate "Edit" %}";
                    action.append(updateLink);

                    const updateLinkIcon = document.createElement("em");
                    updateLinkIcon.classList.add("fas", "fa-pen");
                    updateLink.append(updateLinkIcon);

                    const deleteLink = document.createElement("button");
                    deleteLink.classList.add("btn", "btn-danger");
                    deleteLink.title = "{% translate "Delete" %}";
                    deleteLink.addEventListener("click", () => {
                        document.getElementById("delete_room").href = room.deleteUrl;
                        jQuery("#delete_room_modal").modal("toggle");
                    }, false);
                    action.append(deleteLink);

                    const deleteLinkIcon = document.createElement("em");
                    deleteLinkIcon.classList.add("fas", "fa-trash-alt");
                    deleteLink.append(deleteLinkIcon);

                    if (room.configuration !== null) {
                        const joinRoomLink = document.createElement("a");
                        joinRoomLink.classList.add("btn", "btn-primary");
                        joinRoomLink.href = room.createOrJoinUrl;
                        joinRoomLink.title = "{% translate "Join/create meeting" %}";
                        action.append(joinRoomLink);

                        const joinRoomIcon = document.createElement("em");
                        joinRoomIcon.classList.add("fas", "fa-play");
                        joinRoomLink.append(joinRoomIcon);
                    }

                    if (room.state === "CREATING") {
                        const resetStuckRoomLink = document.createElement("a");
                        resetStuckRoomLink.classList.add("btn", "btn-warning");
                        resetStuckRoomLink.href = room.roomResetStuckUrl;
                        resetStuckRoomLink.title = "{% translate "Reset stuck room" %}";
                        action.append(resetStuckRoomLink);

                        const resetStuckRoomIcon = document.createElement("em");
                        resetStuckRoomIcon.classList.add("fas", "fa-redo");
                        resetStuckRoomLink.append(resetStuckRoomIcon);
                    } else if (room.state === "ACTIVE") {
                        const forceEndMeetingLink = document.createElement("a");
                        forceEndMeetingLink.classList.add("btn", "btn-danger");
                        forceEndMeetingLink.href = room.forceEndMeetingUrl;
                        forceEndMeetingLink.title = "{% translate "Force end meeting" %}";
                        action.append(forceEndMeetingLink);

                        const forceEndMeetingIcon = document.createElement("em");
                        forceEndMeetingIcon.classList.add("fas", "fa-square");
                        forceEndMeetingLink.append(forceEndMeetingIcon);
                    }

                    const copyButton = document.createElement("button");
                    copyButton.classList.add("btn", "btn-secondary");
                    copyButton.type = "button";
                    copyButton.title = "{% translate "Copy URL" %}";
                    copyButton.dataset.toggle = "modal";
                    copyButton.dataset.target = "#createCreateOrJoinUrlModal";
                    copyButton.dataset.createOrJoinUrl = room.createOrJoinUrl;
                    if (room.secret !== null) {
                        copyButton.dataset.secret = room.secret;
                    }
                    action.append(copyButton);

                    const copyButtonIcon = document.createElement("em");
                    copyButtonIcon.classList.add("fas", "fa-copy");
                    copyButton.append(copyButtonIcon);

                    return row;
                },
                /**
                 * @param {number} page
                 * @param {number} pageCount
                 * @param {number} totalCount
                 * @param {Array<Room>} entries
                 */
                pageLoadedCallback(page, pageCount, totalCount, entries) {
                    document.getElementById("rooms-count-badge").innerText = totalCount.toFixed();

                    const url = new URL(window.location);
                    setURLParameter(url, page);
                    window.history.replaceState({}, "", url);
                }
            });
            document.getElementById("rooms-card-body").append(paginator.container);

            const roomSearchFilterInput = document.getElementById("room-search-filter");
            roomSearchFilterInput.addEventListener("input", function() {
                searchFilter = this.value;
                paginator.loadPage();
            });

            const roomSchedulingStrategyFilterInput = document.getElementById("room-scheduling-strategy-filter");
            roomSchedulingStrategyFilterInput.addEventListener("input", function() {
                schedulingStrategyFilter = this.value;
                paginator.loadPage();
            });

            const roomConfigFilterInput = document.getElementById("room-config-filter");
            roomConfigFilterInput.addEventListener("input", function() {
                configFilter = this.value;
                paginator.loadPage();
            });

            let _initialSearchParams = new URL(window.location).searchParams;

            roomSearchFilterInput.value = searchFilter = _initialSearchParams.get("filter-search") || "";
            roomSchedulingStrategyFilterInput.value = schedulingStrategyFilter = _initialSearchParams.get("filter-strategy") || "";
            roomConfigFilterInput.value = configFilter = _initialSearchParams.get("filter-config") || "";

            paginator.loadPage(Number(_initialSearchParams.get("page") || 1));

            jQuery("#createCreateOrJoinUrlModal").on("show.bs.modal", function(event) {
                const form = document.getElementById("createCreateOrJoinUrlForm");
                const secret = event.relatedTarget.dataset.secret;

                form.dataset.createOrJoinUrl = event.relatedTarget.dataset.createOrJoinUrl;
                if (secret) {
                    form.dataset.secret = secret;
                } else {
                    delete form.dataset.secret;
                }

                document.getElementById("joinParametersDependingOnSecret").classList.toggle("d-none", !secret);

                document.getElementById("enforceCreateMeetingPermission").checked = false;
                document.getElementById("enforceJoinMeetingPermission").checked = false;
                document.getElementById("enforceModeratePermission").checked = false;
                document.getElementById("joinAsRoom").checked = false;
                document.getElementById("skipMeetingConfiguration").checked = false;
            });

            document.getElementById("createCreateOrJoinUrlForm").addEventListener("submit", function(event) {
                event.preventDefault();

                const parameters = { skipMeetingConfiguration: document.getElementById("skipMeetingConfiguration").checked };
                if (this.dataset.secret) {
                    parameters.secret = this.dataset.secret;
                    parameters.enforceCreateMeetingPermission = document.getElementById("enforceCreateMeetingPermission").checked;
                    parameters.enforceJoinMeetingPermission = document.getElementById("enforceJoinMeetingPermission").checked;
                    parameters.enforceModeratePermission = document.getElementById("enforceModeratePermission").checked;
                    parameters.joinAsRoom = document.getElementById("joinAsRoom").checked;
                }

                createCreateOrJoinUrl(this.dataset.createOrJoinUrl, parameters);

                jQuery("#createCreateOrJoinUrlModal").modal("hide");
            });
        });

        /**
         * @typedef {Object} CreateOrJoinUrlParameters
         * @property {boolean} skipMeetingConfiguration
         */

        /**
         * @typedef {Object} CreateOrJoinUrlWithSecretParameters
         * @property {boolean} skipMeetingConfiguration
         * @property {string} secret
         * @property {boolean} enforceCreateMeetingPermission
         * @property {boolean} enforceJoinMeetingPermission
         * @property {boolean} enforceModeratePermission
         * @property {boolean} joinAsRoom
         */

        /**
         * @param {string} createOrJoinUrl
         * @param {CreateOrJoinUrlParameters | CreateOrJoinUrlWithSecretParameters} parameters
         */
        function createCreateOrJoinUrl(createOrJoinUrl, {
            skipMeetingConfiguration,
            secret = null,
            enforceCreateMeetingPermission = null,
            enforceJoinMeetingPermission = null,
            enforceModeratePermission = null,
            joinAsRoom = null
        }) {
            const url = getUrl(createOrJoinUrl);

            if (skipMeetingConfiguration) {
                url.searchParams.set("skipMeetingConfiguration", "true");
            }

            if (secret !== null
                && (
                    enforceCreateMeetingPermission
                    || enforceJoinMeetingPermission
                    || enforceModeratePermission
                    || joinAsRoom
                )
            ) {
                url.searchParams.set("secret", secret);

                if (enforceCreateMeetingPermission) {
                    url.searchParams.set("enforceCreateMeetingPermission", "true");
                }

                if (enforceJoinMeetingPermission) {
                    url.searchParams.set("enforceJoinMeetingPermission", "true");
                }

                if (enforceModeratePermission) {
                    url.searchParams.set("enforceModeratePermission", "true");
                }

                if (joinAsRoom) {
                    url.searchParams.set("joinAsRoom", "true");
                }
            }

            copyURLToClipboard(url);
        }
    </script>
{% endblock %}

{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-4">
                                    <input id="room-search-filter" type="text" class="form-control"
                                           placeholder="{% translate "Name..." %}"
                                           aria-label="{% translate "Search" %}">
                                </div>
                                <div class="col-lg-4">
                                    <select id="room-scheduling-strategy-filter" class="form-control"
                                            title="{% translate "Scheduling strategy filter" %}"
                                            aria-label="{% translate "Scheduling strategy filter" %}">
                                        <option value="">---</option>
                                        {% for s in scheduling_strategies %}
                                            <option value="{{ s.id }}">{{ s.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="col-lg-4">
                                    <select id="room-config-filter" class="form-control"
                                            title="{% translate "Configuration filter" %}"
                                            aria-label="{% translate "Configuration filter" %}">
                                        <option value="">---</option>
                                        {% for c in configurations %}
                                            <option value="{{ c.id }}">{{ c.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                                {% translate "Rooms Overview" %}
                                <span id="rooms-count-badge" class="badge badge-pill badge-primary">0</span>
                            </h3>
                            <div class="card-tools">
                                <a class="btn btn-sm btn-default float-right" href="{% url 'room_create' %}"
                                   title="{% translate "Create" %}">
                                    <em class="fas fa-plus"></em>
                                </a>
                            </div>
                        </div>
                        <div id="rooms-card-body" class="card-body">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block modals %}
    <div id="delete_room_modal" class="modal fade" tabindex="-1" role="dialog"
         aria-labelledby="CenterModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="CenterModalLabel">{% translate "Delete room" %}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    {% translate "Are you sure you want to delete the room?" %}
                </div>
                <div class="modal-footer">
                    <a class="btn btn-danger" href="" id="delete_room">
                        {% translate "Delete" %}
                    </a>
                    <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">
                        {% translate "Cancel" %}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="createCreateOrJoinUrlModal" tabindex="-1" aria-labelledby="createCreateOrJoinUrlModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div>
                        <h5 class="modal-title" id="createCreateOrJoinUrlModalLabel">
                            {% translate "Create room join URL" %}
                        </h5>
                        <small class="text-muted">
                            {% translate "All settings apply only to the generated URL and this Room." %}
                        </small>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="px-4 py-3" id="createCreateOrJoinUrlForm">
                        <div id="joinParametersDependingOnSecret">
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="enforceCreateMeetingPermission">
                                <label class="form-check-label" for="enforceCreateMeetingPermission">
                                    {% translate "Enforce create meeting permission." %}
                                </label>
                            </div>
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="enforceJoinMeetingPermission">
                                <label class="form-check-label" for="enforceJoinMeetingPermission">
                                    {% translate "Enforce join meeting permission." %}
                                </label>
                            </div>
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="enforceModeratePermission">
                                <label class="form-check-label" for="enforceModeratePermission">
                                    {% translate "Enforce moderate permission." %}
                                </label>
                            </div>
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="joinAsRoom">
                                <label class="form-check-label" for="joinAsRoom">
                                    {% translate "Join with the room name as join name." %}
                                </label>
                            </div>
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="skipMeetingConfiguration">
                            <label class="form-check-label" for="skipMeetingConfiguration">
                                {% translate "Skip the creation menu and start the meeting with default settings." %}
                            </label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button form="createCreateOrJoinUrlForm" type="submit" class="btn btn-primary">
                        {% translate "Create URL" %}
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
